.wrap {
  main {
    section {
      .inner {
        padding: 50px 0;
      }
    }
    section.notice_test {
      background-color: #e7e7e7;
      .inner {
        .content {
          display: flex;
          justify-content: space-between;
          margin: 30px auto;
          .book {
            width: 30%;
            height: 300px;
            border: 2px solid #999;
          }
        }
        .book_btn {
          display: flex;
          justify-content: center;
          a {
            background-color: #999;
            color: #fff;
            padding: 5px 20px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
